<h2 mat-dialog-title>Agregar Nuevo Profesor</h2>
<mat-dialog-content>
    <form>
        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Nivel</mat-label>
            <input matInput>
        </mat-form-field>
        <!-- mat form field with a checkbox to select privilegies-->
        <mat-form-field appearance="outline">
            <mat-label>Privilegios</mat-label>
            <mat-checkbox>Agregar Profesores</mat-checkbox>
            <mat-checkbox>Agregar Alumnos</mat-checkbox>
            <mat-checkbox>Agregar Tecnicas</mat-checkbox>
            <mat-checkbox>Agregar Entrenamientos</mat-checkbox>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button color="primary">Guardar</button>
</mat-dialog-actions>