<app-navbar></app-navbar>
<p>.</p>
<p>.</p>
<div class="flexic column fill">
    <div class="flexic row">
        <div class="module-border-wrap  fill">
            <div class="card-container training-image">
                <div class="keeper">
                </div>
                <div class="title">Entrenamiento del Dia</div>
            </div>
        </div>
        <div class="module-border-wrap  ">
            <div class="card-container">
                <div class="metric">
                    <p>300</p>
                </div>
                <div class="title">Dias de Entrenamiento</div>
                <div class="title">"No cuentes los días, haz que los días cuenten."</div>
            </div>
        </div>
    </div>
    <div class="flexic ">
        <div class="flexic column">
            <div class="module-border-wrap">
                <div class="card-container">
                    <div class="column">
                        <button class="topbutton" mat-icon-button color="accent">
                            <mat-icon>help</mat-icon>
                        </button>
                        <div class="icon-container-small easy">
                        </div>
                    </div>
                    <div class="title">Sogui</div>
                    <div class="icon-border-wrap">
                        <div class="icon-container">
                            <img src="assets/stand.png" height="70">
                        </div>
                    </div>
                    <div class="title">Naranhi seogi</div>
                    <div class="title">20 Repeticiones</div>
                    <div class="title">10 Minutos</div>
                    <button mat-button class="explore-button">Iniciar</button>
                </div>
            </div>
            <div class="module-border-wrap">
                <div class="card-container">
                    <div class="column">
                        <button class="topbutton" mat-icon-button color="accent">
                            <mat-icon>help</mat-icon>
                        </button>
                        <div class="icon-container-small medium">
                        </div>
                    </div>
                    <div class="title">chagi</div>
                    <div class="icon-border-wrap">
                        <div class="icon-container">
                            <img src="assets/kicks.png" height="70">
                        </div>
                    </div>
                    <div class="title">ap chagi</div>
                    <div class="title">20 Repeticiones</div>
                    <div class="title">10 Minutos</div>
                    <button mat-button class="explore-button">Iniciar</button>
                </div>
            </div>
            <div class="module-border-wrap">
                <div class="card-container">
                    <div class="column">
                        <button class="topbutton" mat-icon-button color="accent">
                            <mat-icon>help</mat-icon>
                        </button>
                        <div class="icon-container-small hard">
                        </div>
                    </div>
                    <div class="title">Jireugi</div>
                    <div class="icon-border-wrap">
                        <div class="icon-container">
                            <img src="assets/punchs.png" height="70">
                        </div>
                    </div>
                    <div class="title">Olgun Bande Jireugi</div>
                    <div class="title">20 Repeticiones</div>
                    <div class="title">10 Minutos</div>
                    <button mat-button class="explore-button">Iniciar</button>
                </div>
            </div>
            <div class="module-border-wrap">
                <div class="card-container">
                    <div class="column">
                        <button class="topbutton" mat-icon-button color="accent">
                            <mat-icon>help</mat-icon>
                        </button>
                        <div class="icon-container-small hard">
                        </div>
                    </div>
                    <div class="title">Makgi</div>
                    <div class="icon-border-wrap">
                        <div class="icon-container">
                            <img src="assets/block.png" height="70">
                        </div>
                    </div>
                    <div class="title">Chookya Makgi</div>
                    <div class="title">20 Repeticiones</div>
                    <div class="title">10 Minutos</div>
                    <button mat-button class="explore-button">Iniciar</button>
                </div>
            </div>
            <div class="module-border-wrap">
                <div class="card-container">
                    <div class="column">
                        <button class="topbutton" mat-icon-button color="accent">
                            <mat-icon>help</mat-icon>
                        </button>
                        <div class="icon-container-small hard">
                        </div>
                    </div>
                    <div class="title">Makgi</div>
                    <div class="icon-border-wrap">
                        <div class="icon-container">
                            <img src="assets/block.png" height="70">
                        </div>
                    </div>
                    <div class="title">Chookya Makgi</div>
                    <div class="title">20 Repeticiones</div>
                    <div class="title">10 Minutos</div>
                    <button mat-button class="explore-button">Iniciar</button>
                </div>
            </div>
            <div class="module-border-wrap">
                <div class="card-container">
                    <div class="column">
                        <button class="topbutton" mat-icon-button color="accent">
                            <mat-icon>help</mat-icon>
                        </button>
                        <div class="icon-container-small hard">
                        </div>
                    </div>
                    <div class="title">Makgi</div>
                    <div class="icon-border-wrap">
                        <div class="icon-container">
                            <img src="assets/block.png" height="70">
                        </div>
                    </div>
                    <div class="title">Chookya Makgi</div>
                    <div class="title">20 Repeticiones</div>
                    <div class="title">10 Minutos</div>
                    <button mat-button class="explore-button">Iniciar</button>
                </div>
            </div>
        </div>
        <div class="flexic fill">
            <div class="module-border-wrap fill">
                <div class="card-container fill">
                    <div class="flexic row forcerow fill">
                        <mat-progress-bar class="example-margin adjustprogress" [mode]="'determinate'" [value]="30">
                        </mat-progress-bar>
                        <button class="topbutton" mat-icon-button color="accent">
                            <mat-icon>play_circle_outline</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flexic row">
        <div class="module-border-wrap  fill">
            <div class="card-container">
                <canvas id="MyChart">{{ chart }}</canvas>
            </div>
        </div>
        <div class="module-border-wrap  fill">
            <div class="card-container">
                <canvas id="MyChart2">{{ chart2 }}</canvas>
            </div>
        </div>
    </div>
    <div class="module-border-wrap  fill">
        <div class="card-container">
            <canvas id="MyChart">{{ chart }}</canvas>
        </div>
    </div>
</div>